@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?na3s00');
  src:  url('fonts/icomoon.eot?na3s00#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?na3s00') format('truetype'),
    url('fonts/icomoon.woff?na3s00') format('woff'),
    url('fonts/icomoon.svg?na3s00#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-great-wall:before {
  content: "\e900";
}
.icon-chart-graph:before {
  content: "\e901";
}
.icon-wave:before {
  content: "\e902";
}
.icon-arrow-circle:before {
  content: "\e903";
}
.icon-point:before {
  content: "\e904";
}
.icon-walk:before {
  content: "\e905";
}
.icon-people-queue:before {
  content: "\e906";
}
.icon-stack:before {
  content: "\e907";
}
.icon-graph:before {
  content: "\e908";
}
.icon-stack-pop:before {
  content: "\e909";
}
.icon-stack-push:before {
  content: "\e90a";
}
